@model Aplicacion_BDPeluqueria.Models.Reservas.DetallesReserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dni_Cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_Cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni_Pel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_Pel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.num_Res }) |
    @Html.ActionLink("Back to List", "Index")
</p>
